.jumbotron p {
    margin-top: 20px;
    padding: 15px;
}

.organisation {
    margin-top: 20px;
    padding: 15px;
}
.main-info {
    font-size: 21px;
    font-weight: 200;
}

.update-info {
    font-size: 14px;
    font-weight: 200;
}
